body {
  background-color:cyan;
  background-image: url(p1io0H.jpg);
}

h1{
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color:palevioletred;
  margin: 1%;
}
h2{
  font-style: italic;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color:palevioletred;
  margin: 1%;
}
h3{
font-size: 35px;
font-family: 'Anton', sans-serif;
letter-spacing: 2px;
text-align: center;
color:darkmagenta;
}
.thumbnail{
  background-color:rgba(0, 0, 0, 0.842);
  margin:6%;
  padding:6%;
}
.description{
  color:royalblue;
  font-size: 25px;
  font-family:"Anton", sans-serif;
  letter-spacing:1px;
  text-align: center;
}
.imgdiv{
  margin: 1%;
}
.history{
  color:palevioletred;
  font-size:24px;
  font-weight: bold;
  text-align:left;
  list-style-position:inside;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 21%;
  margin-right: 21%;
}
img.image{
  display: block;
  margin: 0 auto;
}
img{
  border: 5px solid white;
}
.lastw{
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}